**/.DS_Store
**/target/
**/*.iml
**/.project
**/.classpath
**/.settings
**/generated/
**/build/
.idea/
**/.checkstyle
checkstyle/pom.xml.releaseBackup
pom.xml.releaseBackup
release.properties
/json_log.log